@inherits LayoutComponentBase

@using MiniTwit.API.Controllers
@inject MiniTwitController controller

<!doctype html>
<title>{% block title %}Welcome{% endblock %} | MiniTwit</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
    <h1>MiniTwit</h1>
    <div class=navigation>
        @if (controller.GetCurrentUser() != null)
        {
            <div>
                <a href="timeline">my timeline</a> |
                <a href="timeline">public timeline</a> |
                <a href="logout">sign out [{{ g.user.username }}]</a>
            </div>
        }
        else
        {
            <div>
                <a href="timeline">public timeline</a> |
                <a href="register">sign up</a> |
                <a href="login">sign in</a>
            </div>
        }
    </div>
    @*{% with flashes = get_flashed_messages() %}
        {% if flashes %}
        <ul class=flashes>
            {% for message in flashes %}
            <li>
                {{ message }}
                {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}*@
    <div class=body>
        @Body
    </div>
    <div class=footer>
        MiniTwit &mdash; A Flask Application
    </div>
</div>