@page "/login"

@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@using MiniTwit.API.Controllers
@inject MiniTwitController controller
@inject NavigationManager NavManager

<h2>Sign In</h2>
@if (@error != null)
{
    <div class=error><strong>Error:</strong>@error</div>
}
<dl>
    <dt>Username:</dt>
    <dd><input type=text name=username size=30 @bind-value="@username"></dd>
    <dt>Password:</dt>
    <dd><input type=password name=password size=30 @bind-value="@password"></dd>
</dl>
<div class=actions><input type=submit value="Sign In" @onclick="@Signin"></div>

@code {
    private string error = null;
    private string username = "";
    private string password = "";

    private async void Signin()
    {
        error = null;
        if (username == "") error = "Please enter a username";
        if (password == "") error = "Please enter a password";
        if (error == null)
        {
            var user = await controller.Login(new Models.LoginDTO
            {
                username = username,
                password = password
            });
            if (user != null)
            {
                await sessionStorage.SetItemAsync("user", user);
                NavManager.NavigateTo("/", forceLoad: true);
            }
            else
            {
                error = "Wrong username or password";
            }
        }
    }
}
