@page "/public"
@using MiniTwit.API.Controllers
@using MiniTwit.Models
@inject MiniTwitController controller

<h2>Public Timeline</h2>
<Timeline messages="@messages" />   


@code
{
    public IEnumerable<TimelineDTO> messages;

    protected override async Task OnInitializedAsync()
    {
        messages = await controller.GetMessages();
    }
}
