@page "/public"
@using MiniTwit.API.Controllers
@using MiniTwit.Models
@inject MiniTwitController controller

<h2>Public Timeline</h2>
@if(messages == null)
{
    <p>Loading... (very slow (and will crash if you refresh))</p>
}
else
{
    <Timeline messages="@messages" />   
}

@code
{
    public IEnumerable<TimelineDTO> messages;

    protected override async Task OnInitializedAsync()
    {
        messages = await controller.GetMessages();
    }
}
